@model ninexhype.ViewModels.IndexVM
@{
    ViewData["Title"] = "Home";
}

<!-- Header-->
<!--------------------- SITE --------------------->
<div class="w100 center">
    <div class="container-body">
        <!-- CARD PROMOÇÃO -->

        <div class="Produtos ">
            <div class="cont-Sneakers">
                <div class="Sneakers fs-1">DESTAQUES</div>
                <div class="slideshow-container">
                    @foreach (Produto produto in Model.Destaques)
                    {
                        <div class="slideshow fade ativo">
                            <div class="numeracao ">@produto.Id</div>
                            <img src="@(produto.Fotos.Count <= 0 ? 
                            "https://dummyimage.com/450x300/dee2e6/6c757d.jpg" :
                            produto.Fotos[0].ArquivoFoto)" alt="@produto.Nome" />
                            <div class="legenda">
                                <div class="fs-7 w100 NomeDestaque">@produto.Nome</div>
                                <div class="fs-7 w100 valorVendaDestaque">R$@produto.ValorVenda</div>
                            </div>
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    }



                </div>
                <div class="paginacao">
                    @for (int i = 0; i < Model.Destaques.Count; i++)
                    {
                        <span class="dot" onclick="currentSlide(@i)"></span>
                    }
                </div>


            </div>
        </div>
    </div>

</div>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (Produto produto in Model.Produtos)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div class="cont-imgTop"><img class="card-img-top" src="@(produto.Fotos.Count <= 0 ? 
                            "https://dummyimage.com/450x300/dee2e6/6c757d.jpg" :
                            produto.Fotos[0].ArquivoFoto)" alt="@produto.Nome" /></div>

                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder destaqueText">@produto.Nome</h5>
                                <!-- Product price-->
                                R$ @produto.ValorVenda.ToString("N2")
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" asp-action="Produto" asp-route-id="@produto.Id">
                                    COMPRAR
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
