@model List<ninexhype.Models.Produto>
@{
    ViewData["Title"] = "Home";
}

<!-- Header-->
<!--------------------- SITE --------------------->
    <div class="w100 center">
        <div class="container-body">
            <!-- CARD PROMOÇÃO -->
            <div class="container-Promocao w100">
                <div class="cardPromocao">
                    <div class="img-cardPromocao">
                        <img src="~/img/Home/Promocoes/Tênis Vans.png" alt="">
                    </div>
                    <div class="text-cardPromocao">
                        <div class="w100 df-end">
                            <div class="botao-promocao center">
                                <div class="fs-6">PROMOÇÃO</div>
                            </div>
                        </div>
                        <div class="nome-cardPromocao w100">
                            <div class="w100 center">
                                <div class="fs-4 destaqueText center">Tênis Vans UltraRange Exo Black</div>
                            </div>
                            <div class="w100 center">
                                <div class="fs-5">R$599,99</div>
                            </div>
                        </div>
                        <div class="botoes-cardPromocao w100 center">
                            <div class="botaoFavoritar fs-5 destaqueText">Favoritar</div>
                            <div class="botaoComprar fs-5 destaqueText">Comprar</div>
                        </div>
                    </div>
                </div>
                <div class="cardPromocao">
                    <div class="img-cardPromocao">
                        <img src="~/img/Home/Promocoes/Tênis Vans.png" alt="">
                    </div>
                    <div class="text-cardPromocao">
                        <div class="w100 df-end">
                            <div class="botao-promocao center">
                                <div class="fs-6">PROMOÇÃO</div>
                            </div>
                        </div>
                        <div class="nome-cardPromocao w100">
                            <div class="w100 center">
                                <div class="fs-4 destaqueText center">Tênis Vans UltraRange Exo Black</div>
                            </div>
                            <div class="w100 center">
                                <div class="fs-5">R$599,99</div>
                            </div>
                        </div>
                        <div class="botoes-cardPromocao w100 center">
                            <div class="botaoFavoritar fs-5 destaqueText">Favoritar</div>
                            <div class="botaoComprar fs-5 destaqueText">Comprar</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="Produtos ">
                <div class="cont-Sneakers">
                    <div class="Sneakers fs-1">Destaques</div>
                    <div class="slideshow-container">

                        <div class="slideshow fade ativo">
                            <div class="numeracao ">1 / 3</div>
                            <img src="~/img/Home/carroselProdutos/1.jpg" alt="slide">
                            <div class="legenda">Tenis Nike</div>
                        </div>

                        <div class="slideshow fade">
                            <div class="numeracao">2 / 3</div>
                            <img src="~/img/Home/carroselProdutos/1.jpg" alt="Slide">
                            <div class="legenda">Tenis Nike 2</div>
                        </div>

                        <div class="slideshow fade">
                            <div class="numeracao">3 / 3</div>
                            <img src="~/img/Home/carroselProdutos/1.jpg" alt="Slide">
                            <div class="legenda">Tenis Nike 3</div>
                        </div>

                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    </div>
                    <div class="paginacao">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>

                    <div class="Produtos">
                    </div>
                </div>
            </div>
        </div>

    </div>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (Produto produto in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="@(produto.Fotos.Count <= 0 ? 
                            "https://dummyimage.com/450x300/dee2e6/6c757d.jpg" :
                            produto.Fotos[0].ArquivoFoto)" alt="@produto.Nome" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@produto.Nome</h5>
                                <!-- Product price-->
                                R$ @produto.ValorVenda.ToString("N2")
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" asp-action="Produto" asp-route-id="@produto.Id">
                                    Ver Detalhes
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
